* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    justify-content: space-around;
    display: flex;
    align-items: center;
    border: 2px solid whitesmoke;
    background:rgb(255, 255, 255);
    padding: 8px 0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.08);
}

nav span img {
    height: 55px;
    width: 120px;
}

.navbar-options {
    text-align: center;
    color: #555;
    cursor: pointer;
    padding: 8px 14px;
    padding-left: 290px;
    border-radius: 8px;
    transition: 0.3s;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.navbar-options:hover {
    background: white;
    color: rgb(26, 115, 232);
}

.navbar-options span {
    margin: 10px;
}

.navbar-options span a{
    text-decoration: none;
    color: black;
}

body {
    background-color: #CCE7EC;
}

.container {
    width: 90%;
    margin: 30px auto;
}

.header h1 {
    margin-bottom: 20px;
}

.billing {
    display: flex;
    gap: 20px;
}

.balance-card {
    width: 30%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.balance-card h1 {
    color: #007bff;
    margin: 15px 0;
}

.invoice-card {
    width: 70%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f1f1f1;
}

.pending {
    color: orange;
    font-weight: bold;
}

.paid {
    color: green;
    font-weight: bold;
}

button {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
}

button:hover {
    background-color: #555;
}

.pay {
    background-color: #007bff;
    color: white;
}

.pay:hover {
    background-color: #555;
    box-shadow: 2px 2px 8px black;
}

.view {
    background-color: gray;   
}

.view:hover {
    background-color: #7ea9a4;
    box-shadow: 2px 2px 8px black;
}

.footer {
    background: #1e293b;
    color: white;
    padding: 66px 50px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 20px;
}

.footer-left {
    display: flex;
    align-items: center;
}

.logo-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    background: rgb(169, 200, 231);
    color: white;
    padding: 8px 10px;
    border-radius: 6px;
    font-weight: bold;
}

.logo-text {
    font-size: 18px;
    font-weight: 600;
}

.footer-right p {
    font-size: 14px;
    margin-bottom: 6px;
    text-align: right;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    opacity: 0.9;
}

@media (max-width:768px) {
.footer-top {
    flex-direction: column;
    gap: 20px;
}

.footer-right p {
    text-align: left;
}
}

img {
    height: 60px;
    width: 35px;
}

