* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    justify-content: space-between;
    display: flex;
    align-items: center;
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
}

nav span img {
    height: 55px;
    width: 120px;
}

.navbar-options span {
    margin: 10px;
}

.navbar-options span a{
    text-decoration: none;
    color: black;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.text {
    color: rgb(96, 92, 92);
    font-size: 20px;
    margin: 65px;
}

.container {
    padding: 30px;
    border: 2px solid black;
    margin: 14px;
    margin-bottom: auto;
    border-radius: 15px;
    background-color: whitesmoke;
    border-color: whitesmoke;
}

.container h2 {
    margin-bottom: 20px;
    color: rgb(51, 51, 51);
}

.actions {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    width: 220px;
    height: 120px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 auto;
    border: 2px solid rgb(179, 173, 173);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.card span {
    font-size: 36px;
    color: rgb(85, 85, 85);
    margin-bottom: 8px;
}

.card p {
    font-size: 15px;
    color: rgb(51, 51, 51);
}
