* {
    padding: 0;
    margin: 0;
}

.main {
    background-color: #E0F7FA;
    height: 100vh;
    align-content: center;
    justify-content: center;
}
.main h1 {
    align-items: center;
    justify-content: center;
}

.main h1 img{
    height: 70px;
 
}

.main .b1 {
    margin-left: 600px;
}